html {
  box-sizing: border-box;
  font-family: 'Advent Pro', 'sans-serif';
  font-size: 16px;
  color: $light-color;
  font-weight: 300;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $light-color;
  cursor: pointer;
}

.container {
  width: 90%;
  margin: 0 auto;
}

body {
  background-color: rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.9);
  margin: 0 auto;
  position: relative;
  //   min-height: 100vh;
  margin: 0;
  padding: 0;
}
.header {
  margin-bottom: 40px;
}

.bg-image {
  background-image: url(..//images/mobile-banner.png);
  //   background-repeat: no-repeat;
  //   background-size: cover;
  opacity: 0.2;
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  min-height: 100%;
  width: 100%;
  z-index: -1;
}

.header__container {
  min-height: 160px;
  padding-top: 50px;
}

.logo {
  text-transform: capitalize;
  font-size: 38px;
  line-height: 20%;
  margin-bottom: 40px 0;
  padding-top: 40px;
}

.logo__descr {
  font-size: 21px;
  line-height: 20%;
  //   padding-bottom: 40px;
}

.header__description {
  margin: 34px 0 56px 0;
  font-size: 24px;
}

.header__description span {
  display: block;
}

.header__list {
  display: block;
  margin: 0 auto;
  border: 1px solid #fff;
}

.header__list-item {
  text-align: center;
  font-size: 20px;
  display: block;
  padding: 6px 0 6px 0;
}

.header__list-link {
  color: #fff;
  text-transform: uppercase;
}

.header__list-item:hover {
  background: rgba(255, 255, 255, 0.8);
}

.header__list-item:hover .header__list-link {
  color: #303030;
}
