.main-container {
  margin-bottom: 100px;
}

.main__list {
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.main__list-item {
  padding: 33px 53px 0px 53px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.main__list-item:not(:nth-last-child(-n + 1)) {
  margin-bottom: 14px;
}

.main__descr-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 53px;
  width: 159%;
  background: rgb(177, 173, 173);
  z-index: -2;
  margin-top: 10px;
}

.main__list-descr {
  text-transform: uppercase;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__list-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .main__list-item:last-child {
    margin-right: 0px;
  }
}

@media (min-width: 1024px) {
  .main__list-item {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0 0px 0 0;
  }

  .main__descr-wrap {
    display: inline-block;
    width: 156px;
    margin: 0;
    text-align: center;
  }

  .main__list-descr {
    margin-top: -50px;
    // margin-left: 46px;

    font-size: 22px;
  }

  .main__list-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }

  .main__list-item:last-child {
    margin-right: 0px;
  }

  .main__list-item:nth-child(4n) {
    margin-bottom: 0px;
  }
} ;
