<!--Подключение шаблона и static-->
{% extends "base/base.html" %}
{% load static %}


<!--Заголовок этой страницы-->
{% block title %}Services{% endblock title %}


<!--Подключение стилей для этой страницы-->
{% block styles %}
<link rel="stylesheet" href="{% static 'services/css/services.css' %}">
{% endblock styles %}


<!--Блок main-->
{% block main %}
<div class="container about">
    <button class="about__close-btn" type="button">X</button>
    <div class="about__inner-container">
        <h2 class="services__title">Services Overview</h2>
        <ul class="services__list">
            <li class="services__list-item services__icon clock-icon">
                <h3 class="services__list-title">BERMODI TEMPORA INCIDUNT UT LABORE ET DOLORE MAGNA MALIQUAM</h3>
                <p class="services__list-paragraph">Dastqui dolorem ipsumquia dolsitmet conse tequam eius. Asmodi tempora incid. Dent ut labore et dolore magnam. Naliquam quae.</p>
            </li>
            <li class="services__list-item services__icon cloud-icon">
                <h3 class="services__list-title">CIDUNT UT LABORE T DOLORE MAGNA MALIQUA MQUAERAT VOLENENI.</h3>
                <p class="services__list-paragraph">Dastqui dolorem ipsumquia dolsitmet conse tequam eius. Asmodi tempora incid. Dent ut labore et dolore magnam. Naliquam quae.</p>
            </li>
            <li class="services__list-item services__icon bell-icon">
                <h3 class="services__list-title">EMPORA INCIDUNT UT LABORE ET DOLORE MAGNA MALIQUAM LROEP OIRTA.</h3>
                <p class="services__list-paragraph">Dastqui dolorem ipsumquia dolsitmet conse tequam eius. Asmodi tempora incid. Dent ut labore et dolore magnam. Naliquam quae.</p>
            </li>
            <li class="services__list-item services__icon picture-icon">
                <h3 class="services__list-title">DUNT UT LABORE ET DOLORE MAGNA ALIQUAM LROEP OIRTA LREO PROTA.</h3>
                <p class="services__list-paragraph">Dastqui dolorem ipsumquia dolsitmet conse tequam eius. Asmodi tempora incid. Dent ut labore et dolore magnam. Naliquam quae.</p>
            </li>
        </ul>
    </div>
</div>
{% endblock main %}
